## Product Analyst Basic RAG

<img src="/Users/andishehtavakoli/Documents/github-project/product-analyst-agent/images/ai_product_analytic.png" alt="Alt text" width="500" height="300">

### Read CSV file with llamaindex

In [4]:
from llama_index.core import SimpleDirectoryReader
from llama_index.readers.file import (
    PandasCSVReader,
    CSVReader,
)

INPUT_FILE = ['/Users/andishehtavakoli/Documents/github-project/product-analyst-agent/data/sample.csv']

# CSV Reader example
parser = PandasCSVReader()
file_extractor = {".csv": parser}  # Add other CSV formats as needed
documents = SimpleDirectoryReader(
    input_files=INPUT_FILE, file_extractor=file_extractor
).load_data()

?? documents

### SQL TO Text

https://docs.llamaindex.ai/en/stable/examples/index_structs/struct_indices/SQLIndexDemo/

### Create Database Schema

##### We use sqlalchemy, a popular SQL database toolkit, to create an empty data_stats Table

In [5]:
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)

#### Connect to Postgres

In [15]:

engine = create_engine("postgresql://postgres:mypass@localhost:5432/postgres")

metadata_obj = MetaData()

In [16]:
# create city SQL table
table_name = "data_stats"
city_stats_table = Table(
    table_name,
    metadata_obj,
    Column("city_name", String(16), primary_key=True),
    Column("population", Integer),
    Column("country", String(16), nullable=False),
)
metadata_obj.create_all(engine)

#### Define SQL Database

In [17]:
from llama_index.core import SQLDatabase

In [18]:
sql_database = SQLDatabase(engine, include_tables=["data_stats"])

#### We add some testing data to our SQL database.

In [19]:

from sqlalchemy import insert

rows = [
    {"city_name": "Toronto", "population": 2930000, "country": "Canada"},
    {"city_name": "Tokyo", "population": 13960000, "country": "Japan"},
    {
        "city_name": "Chicago",
        "population": 2679000,
        "country": "United States",
    },
    {"city_name": "Seoul", "population": 9776000, "country": "South Korea"},
]
for row in rows:
    stmt = insert(city_stats_table).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)

In [20]:
# view current table
stmt = select(
    city_stats_table.c.city_name,
    city_stats_table.c.population,
    city_stats_table.c.country,
).select_from(city_stats_table)

with engine.connect() as connection:
    results = connection.execute(stmt).fetchall()
    print(results)

[('Toronto', 2930000, 'Canada'), ('Tokyo', 13960000, 'Japan'), ('Chicago', 2679000, 'United States'), ('Seoul', 9776000, 'South Korea')]

#### Query Index

In [23]:
from sqlalchemy import text

with engine.connect() as con:
    rows = con.execute(text("SELECT * from data_stats"))
    for row in rows:
        print(row)

('Toronto', 2930000, 'Canada')
('Tokyo', 13960000, 'Japan')
('Chicago', 2679000, 'United States')
('Seoul', 9776000, 'South Korea')

#### Part 1: Text-to-SQL Query Engine

#### Once we have constructed our SQL database, we can use the NLSQLTableQueryEngine to construct natural language queries that are synthesized into SQL queries.

##### Connect to ollama

In [25]:
from llama_index.llms.ollama import Ollama
llm = Ollama(model="llama3.2", request_timeout=120.0)

In [28]:
from llama_index.core.query_engine import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, tables=["data_stats"], llm=llm, embed_model='local',
)
query_str = "Which city has the highest population?"
response = query_engine.query(query_str)

In [30]:
from pprint import pprint
pprint(response)

Response(response='The city with the highest population is Tokyo.',
         source_nodes=[NodeWithScore(node=TextNode(id_='60152ed7-fec2-4f11-b296-183ef82a9595', embedding=None, metadata={'sql_query': 'SELECT city_name FROM data_stats ORDER BY population DESC LIMIT 1;', 'result': [('Tokyo',)], 'col_keys': ['city_name']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[('Tokyo',)]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)],
         metadata={'60152ed7-fec2-4f11-b296-183ef82a9595': {'col_keys': ['city_name'],
                                                            'result': [('Tokyo',)],
                                                            'sql_query': 'SELECT '
                                                                         'city_name '
                                                                         'FROM '
                                                                         'data_stats '
                                                                         'ORDER '
                                                                         'BY '
                                                                         'population '
                                                                         'DESC '
                                                                         'LIMIT '
                                                                         '1;'},
                   'col_keys': ['city_name'],
                   'result': [('Tokyo',)],
                   'sql_query': 'SELECT city_name FROM data_stats ORDER BY '
                                'population DESC LIMIT 1;'})

#### Part 2: Query-Time Retrieval of Tables for Text-to-SQL

##### If we don't know ahead of time which table we would like to use, and the total size of the table schema overflows your context window size, we should store the table schema in an index so that during query time we can retrieve the right schema.

In [45]:
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

from llama_index.embeddings.huggingface import HuggingFaceEmbedding
from llama_index.core import Settings

# global
Settings.embed_model = HuggingFaceEmbedding(model_name="BAAI/bge-small-en-v1.5")
Settings.llm = llm

# set Logging to DEBUG for more detailed outputs
table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    (SQLTableSchema(table_name="data_stats"))
]  # add a SQLTableSchema for each table

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,

)
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1),
)

In [67]:
obj_index.persist(persist_dir="./storage")

/var/folders/w0/k0xxrfj12291nhxj_w1wygf80000gn/T/ipykernel_2110/3183517118.py:1: UserWarning: Unable to persist ObjectNodeMapping. You will need to reconstruct the same object node mapping to build this ObjectIndex
  obj_index.persist(persist_dir="./storage")

In [47]:
from IPython.display import Markdown, display
response = query_engine.query("Which city has the highest population?")
display(Markdown(f"{response}"))

The largest city in terms of population is Tokyo.

In [49]:
pprint(response)

Response(response='The largest city in terms of population is Tokyo.',
         source_nodes=[NodeWithScore(node=TextNode(id_='5359cef6-c287-423a-a89f-b1b2234b4454', embedding=None, metadata={'sql_query': 'SELECT city_name FROM data_stats ORDER BY population DESC LIMIT 1;', 'result': [('Tokyo',)], 'col_keys': ['city_name']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[('Tokyo',)]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)],
         metadata={'5359cef6-c287-423a-a89f-b1b2234b4454': {'col_keys': ['city_name'],
                                                            'result': [('Tokyo',)],
                                                            'sql_query': 'SELECT '
                                                                         'city_name '
                                                                         'FROM '
                                                                         'data_stats '
                                                                         'ORDER '
                                                                         'BY '
                                                                         'population '
                                                                         'DESC '
                                                                         'LIMIT '
                                                                         '1;'},
                   'col_keys': ['city_name'],
                   'result': [('Tokyo',)],
                   'sql_query': 'SELECT city_name FROM data_stats ORDER BY '
                                'population DESC LIMIT 1;'})

In [50]:

# you can also fetch the raw result from SQLAlchemy!
response.metadata["result"]

[('Tokyo',)]

In [51]:

# manually set context text
city_stats_text = (
    "This table gives information regarding the population and country of a"
    " given city.\nThe user will query with codewords, where 'foo' corresponds"
    " to population and 'bar'corresponds to city."
)

table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    (SQLTableSchema(table_name="data_stats", context_str=city_stats_text))
]

#### Part 3: Text-to-SQL Retriever

So far our text-to-SQL capability is packaged in a query engine and consists of both retrieval and synthesis.

You can use the SQL retriever on its own. We show you some different parameters you can try, and also show how to plug it into our RetrieverQueryEngine to get roughly the same results.

In [59]:

from llama_index.core.retrievers import NLSQLRetriever

# default retrieval (return_raw=True)
nl_sql_retriever = NLSQLRetriever(
    sql_database, tables=["data_stats"], return_raw=True
)

In [60]:

results = nl_sql_retriever.retrieve(
    "Return the top 5 cities (along with their populations) with the highest population."
)

In [61]:
import matplotlib.pyplot as plt
from llama_index.core.response.notebook_utils import display_source_node

for n in results:
    display_source_node(n)

**Node ID:** e09407f4-11ae-4883-bdf2-acf45d406470<br>**Similarity:** None<br>**Text:** [('Tokyo', 13960000), ('Seoul', 9776000), ('Toronto', 2930000), ('Chicago', 2679000)]<br>

In [62]:

# NOTE: all the content is in the metadata
for n in results:
    display_source_node(n, show_source_metadata=True)

**Node ID:** e09407f4-11ae-4883-bdf2-acf45d406470<br>**Similarity:** None<br>**Text:** [('Tokyo', 13960000), ('Seoul', 9776000), ('Toronto', 2930000), ('Chicago', 2679000)]<br>**Metadata:** {'sql_query': 'SELECT city_name, population\nFROM data_stats\nORDER BY population DESC\nLIMIT 5;', 'result': [('Tokyo', 13960000), ('Seoul', 9776000), ('Toronto', 2930000), ('Chicago', 2679000)], 'col_keys': ['city_name', 'population']}<br>

#### Plug into our RetrieverQueryEngine

In [63]:
from llama_index.core.query_engine import RetrieverQueryEngine

query_engine = RetrieverQueryEngine.from_args(nl_sql_retriever)

In [64]:

response = query_engine.query(
    "Return the top 5 cities (along with their populations) with the highest population."
)

In [66]:

pprint(str(response))

('To address this issue, consider restructuring your statement to directly '
 'query the data without referencing a question. \n'
 '\n'
 'For example:\n'
 '\n'
 '```sql\n'
 'SELECT city_name, population\n'
 'FROM data_stats\n'
 'ORDER BY population DESC\n'
 'LIMIT 5;\n'
 '```\n'
 '\n'
 'This approach will provide the top 5 cities with their respective '
 'populations in descending order of population size.')